# Dependencies
node_modules/

# IntelliJ
.idea/
*.iml

# Environment variables
.env
.env.local

# Root package files
package.json
package-lock.json

# Uploads
ExamAI-backend/uploads/*
!ExamAI-backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Logs
*.log
